body{
	font-family: Arial, Helvetica, sans-serif;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 48%;
}

th {
  height: 20px;
  width: 1px;
}
td {
  height: 60px;
  width: 1px;
}
td.new{
	font-size: 18px;
}
ul {
 	color: green;
 }

ul ul{
	color: black;
}
ol li{
	color: black;
}